.subscribe {
    padding: 32px;
    background-color: #000;
    color: #fff;
}

.subscribe h2 {
    margin: 15px 0;
}

.subscribe p {
    margin: 15px 0;
}

.subscribe input {
    border: 1px solid #ccc;
    padding: 8px;
    margin: 15px 0;
    width: 100%;
    line-height: 1.5;

}